In [1]:
#if we provide a seed to random functions we ger the same values when they are executed
import numpy as np
np.random.seed(1)

In [17]:
np.random.randint(10)

2

In [19]:
#When you add two sereies values with same index are added then indices that are only in one series are show as NaN

In [42]:
import numpy.random as npr
npr.seed(1)
npr.randn(3)
npr.randint(10)

6

In [51]:
npr.randint(10)

7

In [ ]:
#In panda Datafram index is rownames ,columns is column names

In [52]:
#dataframe.drop('xyz',axis=0/1)

#axis = 0 implies any row with that value will be dropped
#axis =1 implies any column with that value will be dropped
#inplace=True for mutating the data

In [53]:
#dataframe.reset_index()
#dataframe.set_index('a col number')  = u can use inplace=True

In [54]:
#dataframe.dropna(axis=0/1,thresh=2) => atleast if they are 2 valid values then donot drop
#datarame.fillna(value=0)

In [55]:
#pd.concat(df1,df2,axis = 0/1) => union

In [56]:
#pd.merge(df1,df2,how="outer",on="CustID")

In [57]:
#df['artist'].value_counts()
#             .unique
#.numunique

In [58]:
#df['artist'].apply("someFunction")  => this is like map

In [59]:
#del function is inplace by default => del df['artist']

In [ ]:
#df.sort_values(by='artist') => inplace is false by default