In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
%matplotlib inline

from sklearn.tree import DecisionTreeClassifier

from pandas.api.types import is_numeric_dtype
from sklearn import metrics

In [51]:
credit_df = pd.read_csv('credit.csv')
credit_df

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,unknown,12,good,furniture/appliances,1736,< 100 DM,4 - 7 years,3,4,31,none,own,1,unskilled,1,no,no
996,< 0 DM,30,good,car,3857,< 100 DM,1 - 4 years,4,4,40,none,own,1,management,1,yes,no
997,unknown,12,good,furniture/appliances,804,< 100 DM,> 7 years,4,4,38,none,own,1,skilled,1,no,no
998,< 0 DM,45,good,furniture/appliances,1845,< 100 DM,1 - 4 years,4,4,23,none,other,1,skilled,1,yes,yes
999,1 - 200 DM,45,critical,car,4576,100 - 500 DM,unemployed,3,4,27,none,own,1,skilled,1,no,no

In [52]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
checking_balance        1000 non-null object
months_loan_duration    1000 non-null int64
credit_history          1000 non-null object
purpose                 1000 non-null object
amount                  1000 non-null int64
savings_balance         1000 non-null object
employment_duration     1000 non-null object
percent_of_income       1000 non-null int64
years_at_residence      1000 non-null int64
age                     1000 non-null int64
other_credit            1000 non-null object
housing                 1000 non-null object
existing_loans_count    1000 non-null int64
job                     1000 non-null object
dependents              1000 non-null int64
phone                   1000 non-null object
default                 1000 non-null object
dtypes: int64(7), object(10)
memory usage: 132.9+ KB

In [53]:
credit_df.describe().T

,count,mean,std,min,25%,50%,75%,max
months_loan_duration,1000.0,20.903,12.058814,4.0,12.0,18.0,24.00,72.0
amount,1000.0,3271.258,2822.736876,250.0,1365.5,2319.5,3972.25,18424.0
percent_of_income,1000.0,2.973,1.118715,1.0,2.0,3.0,4.00,4.0
years_at_residence,1000.0,2.845,1.103718,1.0,2.0,3.0,4.00,4.0
age,1000.0,35.546,11.375469,19.0,27.0,33.0,42.00,75.0
existing_loans_count,1000.0,1.407,0.577654,1.0,1.0,1.0,2.00,4.0
dependents,1000.0,1.155,0.362086,1.0,1.0,1.0,1.00,2.0

In [54]:
converted_df = credit_df

for column in converted_df.columns:
    if converted_df[column].dtype == 'object':
        converted_df[column] = pd.Categorical(converted_df[column]).codes

In [55]:
converted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
checking_balance        1000 non-null int8
months_loan_duration    1000 non-null int64
credit_history          1000 non-null int8
purpose                 1000 non-null int8
amount                  1000 non-null int64
savings_balance         1000 non-null int8
employment_duration     1000 non-null int8
percent_of_income       1000 non-null int64
years_at_residence      1000 non-null int64
age                     1000 non-null int64
other_credit            1000 non-null int8
housing                 1000 non-null int8
existing_loans_count    1000 non-null int64
job                     1000 non-null int8
dependents              1000 non-null int64
phone                   1000 non-null int8
default                 1000 non-null int8
dtypes: int64(7), int8(10)
memory usage: 64.6 KB

In [56]:
random_seed = 1
test_share = 0.5
X = converted_df.loc[:,converted_df.columns != 'default']
y = converted_df['default']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size= test_share,random_state=random_seed)

In [57]:
dtree_model = DecisionTreeClassifier(criterion='entropy',random_state=1)
dtree_model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1, splitter='best')

In [58]:
dtree_model.score(X_train,y_train)

1.0

In [59]:
dtree_model.score(X_test,y_test)

0.686

In [60]:
y_predict = dtree_model.predict(X_test)

In [61]:
pd.crosstab(y_train,y_predict)

col_0      0    1
default
0        231  113
1        112   44

In [62]:
print(metrics.classification_report(y_train,y_predict))

              precision    recall  f1-score   support

           0       0.67      0.67      0.67       344
           1       0.28      0.28      0.28       156

    accuracy                           0.55       500
   macro avg       0.48      0.48      0.48       500
weighted avg       0.55      0.55      0.55       500

## Regularizing

In [64]:
dtree_model_R = DecisionTreeClassifier(criterion='entropy',random_state=1,max_depth=5)
dtree_model_R.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1, splitter='best')

In [65]:
dtree_model_R.score(X_train,y_train)

0.804

In [66]:
dtree_model_R.score(X_test,y_test)

0.71

In [68]:
y_predictR = dtree_model_R.predict(X_test)
metrics.confusion_matrix(y_test,y_predictR)

array([[305,  51],
       [ 94,  50]], dtype=int64)

In [70]:
print(metrics.classification_report(y_test,y_predictR))

              precision    recall  f1-score   support

           0       0.76      0.86      0.81       356
           1       0.50      0.35      0.41       144

    accuracy                           0.71       500
   macro avg       0.63      0.60      0.61       500
weighted avg       0.69      0.71      0.69       500

In [72]:
print(pd.DataFrame(dtree_model_R.feature_importances_,columns=['Imp'],index=X_train.columns))

                           Imp
checking_balance      0.297788
months_loan_duration  0.041767
credit_history        0.038054
purpose               0.000000
amount                0.196552
savings_balance       0.055748
employment_duration   0.017476
percent_of_income     0.066381
years_at_residence    0.102148
age                   0.113526
other_credit          0.026813
housing               0.000000
existing_loans_count  0.000000
job                   0.000000
dependents            0.043746
phone                 0.000000

In [77]:
from IPython.display import Image
from sklearn import tree
from os import system

output_file = open(r"D:\IT\Apps\JupyterNoteBooks\0-AI_ML_GL\jupyter\practice\2-Week\outfile.dot" ,'w')

In [78]:
dot_data = tree.export_graphviz(dtree_model_R,out_file=output_file,feature_names=list(X_train),class_names=['No','Yes'])
output_file.close()